<tr>
<td>
    <div style="height: 45px;">
    </div>
</td>
</tr>

<tr>
<td>
    <div style="height: 25px;">
    </div>
</td>
</tr>
<tr>
<td>
    <div style="height: 25px;">
    </div>
</td>
</tr>
<tr>
<td>
    <div style="height: 40px;border-top: solid 1px;border-bottom: solid 1px;">
        <span style="font-weight: bold">P3/P4</span>
    </div>
</td>
</tr>