{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <table style="width: 100%">
            <tbody>

            <tr>
                <td colspan="2">

                    {{ include('includes/header.html.twig') }}
                </td>
            </tr>
            <tr>
                <td style="width: 15%;">
                    <div style="background: red">
                        menu
                    </div>
                </td>


                <td style="width: 85%">
                    <div>
                        tache
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
