{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/entete.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
            {{ include('includes/menu.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="titre lien-titre" id="titre">
                    Fonctionnalités de base                
                </div> 

                <div class="content" id="content">       
                    {{ include('includes/content.html.twig') }}
                </div> 
            </div>
        </div>
     </div>





{% endblock %}
