{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/entete.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
            {{ include('includes/menu.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="titre lien-titre" id="titre">
                    Track and trace               
                </div> 

                <div class="content" id="content" style="padding-top: 20px"> 
                    ee
                   <iframe frameborder="0" id="gttframe" src="http://ptt.ptc.post/ptt.web/Search.aspx?style=1&Token" width="500px" height="250px"/>
                </div> 
            </div>
        </div>
     </div>





{% endblock %}
