<div class="footer">
    <div class="logo">
            <span class="logo-text" style="color: white;font-style: oblique;font-size: large;font-weight: 100">
                COPYRIGHT
            </span>
    </div>
</div>
