<ul>
    <li><a href="{{ path('abonne_index') }}">Abonnés</a>
    </li>
    <li><a href="{{ path('recouvrement') }}">Factures</a>
    </li>
    <li><a href="{{ path('autorites_new') }}">Signatures</a>
    </li>
    <li>
        <a href="{{ path('cherche_route') }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                   Rechercher envoi
                </span>
            </div>
        </a>
    </li>
</ul>