<ul>
    <li>
        <i class="glyphicon glyphicon-home"></i><a href="#">Accueil</a>
    </li>
    <li>
        <i class="glyphicon glyphicon-modal-window"></i><a href="{{ path('coursier_index') }}">Postes</a>
    </li>
    <li>
        <i class="glyphicon glyphicon-modal-window"></i><a href="#">Administrateurs</a>
    </li>
    <li>
        <i class="glyphicon glyphicon-modal-window"></i><a href="#">Déconnexion</a>
    </li>
</ul>